[Unit]
Description=SQS Poller Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/python3 /usr/bin/validation-pipeline/sqs_poller.py
User=root
[Install]
WantedBy=multi-user.target
